.carousel-caption >p{
    color: rgb(210, 210, 20);
}
.main_text {
    padding: 50px 60px;
}
.main_text >h3 {
    text-align: center;
    font-size: 32px;
    text-decoration: underline;
    color: #099be4;
}
.form {
    padding:  30px 50px;
}
.contact_form> h3{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.form_input{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 60px;
}
form {
    border: 1px solid gray;
    padding: 30px 50px;
    width: 80%;
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
}
.main_form {
    margin-top: 30px;
}
label {
    margin-top: 30px;
    font-size: 14px;
    color: rgb(97, 97, 97);
}
input, select {
    padding: 8px 13px;
    width: 100%;
}
.submit {
    padding: 5px 10px;
    background-color: #099be4;
    color: white;
    border: none;
    width: 150px;
    cursor: pointer; 
    border-radius: 2px; 
    margin-top: 30px; 
}
.submit:hover{
    color: #099be4;
    background-color: white;
    border: 1px solid #099be4;
}
.required_field{
    color: red;
    font-size: 16px;
}
@media (max-width: 765px) {
    .carousel-caption > h3{
            font-size: 14px;
    }
    .carousel-caption > p{
        font-size: 10px;
}
    .main_text{
        padding: 30px 0px;
        margin: 0px 20px;
    }
    .main_text >h3 {
        font-size: 23px;
    }
    .contact_form> h3{
        font-size: 18px;
    }
    .form_input{
        padding: 30px 0px
    }
    .form {
        padding: 20px 0px;
        width: 90%;
    }
    .submit{
        width: 80px;
    }
    .main_form {
        margin-top: 5px;
    }
    
}
